[submodule "A-Frame/Marker-App-Bsp"]
	path = A-Frame/Marker-App-Bsp
	url = https://github.com/laeck99/Marker-App-Bsp.git
[submodule "Murals/mindar-murals-tour"]
	path = Murals/mindar-murals-tour
	url = https://github.com/msewerin/mindar-murals-tour.git
